# App
NODE_ENV=development
APP_PORT=3000
APP_PREFIX=api

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=rgb_db
DB_SYNCHRONIZE=false
DB_LOGGING=false

# JWT
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=1d

# Default Admin (used by seeder)
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@rgb.test
ADMIN_PASSWORD=admin123
